.invitations {
  min-width: 30%;
}

.invitations {
  border-radius: var(--borderRadius);
  border: 1px solid #888;
  height: fit-content;
}

.invitations-title {
  text-align: center;
  background-color: #0a1814;
  padding: 17px 20px;
  font-size: 18px;
  border-bottom: 1px solid #888;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.invitations-content {
  background-color: #0e1d19;
}

.invitations-content:last-child {
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

.invitation {
  padding: 10px 20px;
}

.invitation:hover > * {
  scale: 1.05;
  transition: 0.5s;
}

.invitation,
.invitation-userInfos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invitation-userInfos {
  cursor: pointer;
}

.invitation-userImage {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 10px;
}

.invitation-userName {
  position: relative;
  bottom: 3px;
}

.invitation-icon {
  font-size: 27px;
  cursor: pointer;
  border-radius: 50%;
}

.invitation-icon-accept {
  margin-right: 10px;
  color: #02bd5a;
}

.invitation-icon-accept:hover {
  background-color: #02bd5a;
}

.invitation-icon-refuse {
  color: #ff3030;
}

.invitation-icon-refuse:hover {
  background-color: #ff3030;
}

.invitation-icon-accept:hover,
.invitation-icon-refuse:hover {
  color: #fff;
  transition: 0.5s;
}

.invitation-view {
  color: #6565ff;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  bottom: 1px;
}

.invitation-view:hover {
  text-decoration: underline;
}
