.recherche{
    padding: 35px 50px;
    color: #fff;
}

.rechercher-creneaux{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 30px;
}

.recherche-inputs{
    width: 15%;
}

.recherche-inputs label{
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.rechercher-input{
    width: 100%;
    height: 35px;
    outline: none;
}

.rechercher-button{
    width: 10%;
    font-size: 14px;
    height: 35px;
}

.map-recherche-container{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
@media only screen and (max-width: 1000px) {
    .recherche{
        padding: 20px;
    }

    .recherche-inputs{
        width: 20%;
    }
}

@media only screen and (max-width: 700px) {
    .rechercher-creneaux{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .recherche-inputs{
        width: 100%;
    }
    .rechercher-button{
        width: 50%;
    }
}

@media only screen and (max-width: 425px) {
    .rechercher-creneaux{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .rechercher-button{
        margin-top: 10px;
        width: 100%;
    }
}
