:root {
  --borderRadius: 15px;
}

.notifications-container {
  padding: 30px 50px;
  color: #fff;
  display: flex;
  column-gap: 50px;
}

.invit-annonces{
  min-width: 30%;
  display: grid;
  row-gap: 15px;
}
@media only screen and (max-width: 1100px) {

}

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 425px) {
}

