.invitations-participations {
  border-radius: var(--borderRadius);
  box-shadow: rgb(100 100 100 / 35%) 0px 2px 8px;
  height: fit-content;
  background-color: #fff;
}

.invitations{
  margin-bottom: 20px;
}

.invitations-participations-title {
  text-align: center;
  padding: 13px;
  border-bottom: 1px solid #888;
  background-color: rgb(248, 248, 248);
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.invitations-participations-content:last-child {
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

.invitation-participation {
  padding: 10px 20px;
}

.invitation-participation:hover > * {
  scale: 1.05;
  transition: 0.5s;
}

.invitation-participation,
.invitation-participation-userInfos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invitation-participation-userInfos:hover .invitation-participation-userName{
  text-decoration: underline;
}

.invitation-participation-userInfos {
  cursor: pointer;
}

.invitation-participation-userImage {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 10px;
}

.invitation-participation-userName {
  font-size: 14px;
}

.invitation-participation-icon {
  font-size: 27px;
  cursor: pointer;
  border-radius: 50%;
}

.invitation-participation-icon-accept {
  margin-right: 10px;
  color: var(--greenColor);
}

.invitation-participation-icon-accept:hover {
  background-color: var(--greenColor);
}

.invitation-participation-icon-refuse {
  color: var(--redColor);
}

.invitation-participation-icon-refuse:hover {
  background-color: var(--redColor);
}

.invitation-participation-icon-accept:hover,
.invitation-participation-icon-refuse:hover {
  color: #fff;
  transition: 0.5s;
}

.invitation-participation-view {
  color: var(--blueColor);
  font-size: 12px;
  cursor: pointer;
  position: relative;
  bottom: 1px;
}

.invitation-participation-view:hover {
  text-decoration: underline;
}
