.notifications {
  flex-grow: 1;
  border: 1px solid #888;
  height: fit-content;
  border-radius: var(--borderRadius);
}

.notification {
  display: flex;
  padding: 20px;
  column-gap: 25px;
  background-color: #0e1d19;
  cursor: pointer;

}

.bg-notReaded{
  background-color: #1c2e2a;
}

.notification:hover > * {
  scale: 1.01;
  transition: 0.5s;
}

.notification:first-child {
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.notification:last-child {
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

.notification > * {
  display: flex;
  align-items: center;
}

.notification-userImage {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 45px;
}

.notification-content {
  font-size: 15px;
  flex-grow: 1;
}

.notification-heures {
  min-width: fit-content;
  font-size: 13px;
}
