.notifications {
  flex-grow: 1;
  height: fit-content;
  border-radius: var(--borderRadius);
  box-shadow: rgb(100 100 100 / 35%) 0px 2px 8px;
  background-color: #fff;
}

.notification {
  display: flex;
  align-items: center;
  padding: 10px;
  column-gap: 25px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
}

.bg-notReaded {
  background-color: rgb(235, 235, 235);
}

.notification:hover {
  background-color: rgb(235, 235, 235);
  transition: 0.5s;
}

.notification > * {
  display: flex;
  align-items: center;
}

.notification-userImage {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 45px;
}

.notification-content {
  font-size: 14px;
  flex-grow: 1;
}

.notification-heures {
  min-width: fit-content;
  font-size: 12px;
}
