.header, .menu, .header-rightSide, .header-authUser{ display: flex; }

.header, .header-rightSide, .header-authUser{ align-items: center; }

.menu-icon, .header-authUser, .header-logoutIcon, .header-notifIcon{ cursor: pointer; }

.header{
    background-color: #040C0A;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
}

.header-logo{
    cursor: default;
    font-size: 25px;
    font-weight: bold;
}

.menu{ width: 30%; justify-content: space-evenly; }

.menu-icon { font-size: 32px;  }

.header-rightSide{ width: 20%; justify-content: space-between; }

.header-authUser{ margin-right: 20px; flex-grow: 1; }

.header-imgUser{
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 10px;
}

.header-logoutIcon, .header-notifIcon{ font-size: 30px;  }

.header-logoutIcon{ margin-left: 25px; }
