.vertMenu{
    background-color: #040C0A;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.vertMenu-items{
    margin-top: 30px;
    display: flex;
    height: 55%;
    flex-direction: column;
    justify-content: space-between;
}

.vertMenu-item{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
}

.vertMenu-item:hover{
    transition: 0.7s;
    color: #888;
}

.vertMenu-logo{
    cursor: default;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    background-color: #0A1814;
}

.vertMenu-icon{
    font-size: 35px;
    margin-right: 10px;
}

.horizMenu{
    position: absolute;
    left: 200px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 200px);
    padding: 5px 30px;
}

.horizMenu-authUser, .horizMenu-rightSide{
    display: flex;
    align-items: center;
}

.horizMenu-imgUser{
    width: 50px;
    aspect-ratio: 1/1;
}

.horizMenu-notifIcon{
    margin-right: 30px;
}

.horizMenu-logoutIcon{
    margin-left: 8px;
}

.horizMenu-notifIcon, .horizMenu-logoutIcon{
    font-size: 18px;
}

.horizMenu-logout{
    cursor: pointer;
}

.horizMenu-rightSide span{
    position: relative;
    bottom: 4px;
}