.terrain-component{
    color: #fff;
    clear: both;
    background-color: #0E1D19;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    cursor: pointer;
}

.terrain-component:hover{
    box-shadow: rgb(100 100 100 / 35%) 0px 2px 8px;
    transition: 0.5s;
}

.terrain-image{
    width: 100%;
}

.terrain-more{
    background-color: transparent;
    width: fit-content;
    color: #5454ff;
    font-size: 14px;
    margin-top: 20px;
}

.terrain-more:hover{
    text-decoration: underline;
    background-color: transparent;
}