.terrains-prop{
    padding: 50px;
}

.terrains-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.terrainList-recherche{
    width: 20%;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 2px;
}

.terrains-ajout-btn{
    padding: 8px 30px;
    font-size: 16px;
}

.terrain-liste{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.map-container{
    width: 100%;
    height: 500px;
}