.terrains-prop {
  padding: 50px;
}

.terrains-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.terrainList-recherche {
  width: 25%;
  outline: none;
  border: 1px solid #e9e9e9;
  padding: 8px 10px;
  border-radius: 3px;
}

.terrains-ajout-btn {
  padding: 8px 40px;
  font-size: 14px;
}

.terrain-liste {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}


@media only screen and (max-width: 1000px) {
  .terrain-liste {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 750px) {
  .terrains-prop {
    padding: 20px;
  }
  .terrainList-recherche {
    width: 30%;
  }
  .terrain-liste {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 425px) {
  .terrains-prop {
    padding: 10px;
  }
  .terrains-header {
    margin-bottom: 20px;
  }
  .terrainList-recherche {
    width: 55%;
    padding: 1px;
  }
  .terrains-ajout-btn {
    padding: 6px 20px;
    font-size: 12px;
  }
  .terrain-liste {
    grid-template-columns: repeat(1, 1fr);
  }
}
