.header,
.menu,
.header-rightSide,
.header-authUser {
  display: flex;
}

.header,
.header-rightSide,
.header-authUser {
  align-items: center;
}

.menu-icon,
.header-authUser {
  cursor: pointer;
}

.header {
  background-color: #040c0a;
  height: 70px;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
}

.header-logo {
  cursor: default;
  font-size: 25px;
}

.menu {
  width: 30%;
  justify-content: space-evenly;
}

.menu-item {
  position: relative;
}

.menu-icon {
  font-size: 30px;
}

.menu-label {
  position: absolute;
  bottom: -30px;
  background-color: #3a3a3a;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
}

.menu-item:hover .menu-label {
  opacity: 1;
  transition: 0.5s;
}

.menu-item:not(:hover) .menu-label {
  opacity: 0;
  transition: 0.5s;
}

.header-rightSide {
  width: 20%;
  justify-content: space-between;
}

.header-imgUser {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 10px;
}

.header-logoutIcon,
.header-notifIcon {
  font-size: 27px;
}

@media only screen and (max-width: 1000px) {
  .header-nameUser {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .menu {
    flex-grow: 1;
  }

  .header-logo {
    font-size: 20px;
  }

  .menu-icon {
    font-size: 25px;
  }

  .header-rightSide {
    width: 25%;
  }
  .header-nameUser {
    display: none;
  }

  .header-logoutIcon,
  .header-notifIcon {
    font-size: 22px;
  }
}

@media only screen and (max-width: 425px) {
  .header {
    padding: 0;
    height: 50px;
  }
  .header-nameUser,
  .header-logo {
    display: none;
  }

  .menu-icon {
    font-size: 20px;
  }

  .header-rightSide {
    width: 30%;
  }

  .header-imgUser {
    width: 25px;
  }

  .header-logoutIcon,
  .header-notifIcon {
    font-size: 18px;
  }
}
