:root {
  --margin-bottom: 10px;
  --border-color: #333;
}

.container-authentification {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/public/images/stade-background.jpg") no-repeat bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-authentification {
  width: 50%;
  padding: 35px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background: #0f151af5;
  color: #fff;
}

.form-sigin {
  width: 35%;
  padding: 50px 35px 25px;
}

.title-authentification {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 100;
}

.inputs-authentification {
  display: flex;
  justify-content: space-between;
}

.inputs-password {
  position: relative;
}

.show-hide-password {
  position: absolute;
  right: 8px;
  top: 9px;
  font-size: 22px;
  color: #666;
  cursor: pointer;
}

.input-authentification {
  outline: 0;
  padding: 8px;
  background: #040c0a;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  color: #fff;
}

input[name="email"] {
  width: 100%;
  margin-bottom: var(--margin-bottom);
}

input[name="username-signup"],
input[name="password-signup"],
input[name="confirmPassword"],
input[name="nomComplet"],
.radio-type {
  width: 49%;
  margin-bottom: var(--margin-bottom);
}

input[name="username-signin"],
input[name="password-signin"] {
  width: 100%;
  margin-bottom: var(--margin-bottom);
}

.radio-type {
  width: 100%;
}

.radio-signup {
  margin-right: 5px;
}

.radio-label-signup {
  margin-right: 20px;
  font-size: 14px;
  position: relative;
  top: -2px;
}

.submit-authentification-btn {
  width: 40%;
  padding: 7px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: calc((100% - (40% + 14px)) / 2);
  background-color: #5454ff;
}

.submit-authentification-btn:hover{
  background-color: #3c3cbd;
}

.parag-authentification {
  text-align: center;
  margin-top: 20px;
}

.icons-authentification {
  display: flex;
  width: 20%;
  justify-content: space-between;
  margin: 15px auto 30px;
}

.icons-signin {
  width: 30%;
}

.icon-authentification {
  cursor: pointer;
  font-size: 30px;
}

.icon-authentification:hover {
  color: #bdbcbc;
  transition: 0.7s;
}

.last-parag-authentification {
  text-align: center;
  font-size: 12px;
  margin-top: 45px;
}

.last-parag-authentification span {
  color: #5454ff;
  cursor: pointer;
}

.last-parag-authentification span:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1050px) {
  .form-authentification {
    width: 60%;
  }
}

@media only screen and (max-width: 700px) {
  .form-authentification {
    width: 75%;
  }

  .icons-authentification {
    width: 35%;
  }
}

@media only screen and (max-width: 425px) {
  .form-authentification {
    width: 95%;
  }

  .icons-authentification {
    width: 50%;
  }
}
